version: "3"

services:
  server:
    build: .
    container_name: server
    working_dir: /var/www/server
    ports:
      - "$SERVER_PORT:$SERVER_PORT"
    volumes:
      - .:/var/www/server
    command: python manage.py runserver 0.0.0.0:8000
    stdin_open: true
    environment:
      - DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
      - PGHOST=$DATABASE_HOST
    env_file:
      - .env
    depends_on:
      - database

  # database:
  #   image: postgres
  #   ports: 
  #     - "5432"
  #   environment:
  #     - POSTGRES_DB=$DATABASE_NAME
  #     - POSTGRES_USER=$DATABASE_USER
  #     - POSTGRES_PASSWORD=$DATABASE_PASSWORD
  database:
    container_name: database
    image: postgres:latest
    volumes:
      - ./initial.sql:/docker-entrypoint-initdb.d/initial.sql
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust